.contact-info {
	list-style: none;
	padding: 0 0 100px;

	.contact-item {
		color: @white;
		padding: 20px 10px;

		.contact-email {
			color: @pink;
			transition: color 100ms ease-in-out;

			&:hover {
				color: @red;
			}
		}
	}
}
