.main-header {
	.rect(100%, @small-header-height);
	color: @white;
	position: fixed;
	top: 0;
	vertical-align: center;
	z-index: 2;
	transition: min-height .5s ease-in-out,
				background-color .5s ease-in-out,
				height @default-transition;

	&.is-expanded {
		min-height: 310px;
	}

	@media @tablet-up {
		height: @normal-header-height;
		min-height: 0;
	}

	.wrap { // .main-header .wrap
		&:extend(._vertical-center all);
		height: 100%;
	}

	.container { // .main-header .container
		&:extend(._justify all);
		height: 50px;
		padding: 0 0 10px;
		font-family: Montserrat, @default-fonts;
		background-color: @black;
		border-bottom: 2px solid @light-gray;
		transition: height .2s ease-in-out;

		.main-nav{
			margin: 0 5rem 0 0;
		}

		@media @tablet-up {
			height: @normal-header-height;
			padding: 0;
			background-color: transparent;
			border: 0;

			.main-nav{
				margin: 15px 5rem 0 0;
			}
		}
	}

	.csspositionsticky & { // .csspositionsticky .main-header
		.top(0, sticky);
		z-index: 1;
	}
}