.main-nav-collapse {

	@media @tablet-up {

		background-color: #000;
		height: 60px;
		border-bottom: 1px solid #666;

		.container { // .main-header .container
			&:extend(._justify all);
			height: 30px;
			position: relative;
			top: 10px;
			font-family: Montserrat, @default-fonts;
			.main-nav{
				margin: 12px 5rem 0 0;
			}
		}
	}
}